body
{
    background:url(../images/Tiramisu.jpg);
    background-size:cover;
}

div
{
    background-color:rgba(233, 86, 86, 0.5);
    color:rgb(170, 67, 67)
    width:20%;
    margin:0 auto;
    margin-top: 100px;
    margin-left: 1000px;
    text-align:center;
    border-radius: 0 15px;
    padding: 20px;
    box-shadow: 10px 11px 11px 1px rgba(0,0,0,0.75);
}


select
{
     width:80%;
        background-color:rgba(210, 163, 163, 0.507);
        color:rgb(26, 23, 22)
        padding:5px;
}

 input
{
     width:80%;
        background-color:rgba(210, 163, 163, 0.507);
        color:rgb(31, 30, 29);
        padding:5px;
} 

#one
{
    width:80%;
    background-color:rgba(83, 77, 169, 0.173);
    color:rgb(26, 23, 22);
    padding:5px;
}

.two
{}

textarea
{
    width:80%;
    background-color:rgba(245, 42, 177, 0.127);
    color:rgb(26, 23, 22);
    padding:5px;
}

button
{
    margin-bottom:15px;
    border-radius:15px;
    width:30%;
    padding:5px;
    font: size 20px;

    color: #c23d3dd8;

}

button:hover
{
    box-shadow: -1px 26px 75px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 26px 75px 0px rgba(216, 60, 60, 0.75);
-moz-box-shadow: -1px 26px 75px 0px rgba(182, 73, 73, 0.75);
}