body
{
    margin:0px;
}


.header
{
    width: 100px;
    height: 80px;
    background-color: aqua;
    position:absolute;
}

.header h2
{
    color:white;
    position:absolute;
    margin-left:75%;
    margin-top:50px;
}

.header span
{
    margin-left:20px;
}


.continer
{
    width: 80px;
    height: 800px;
    background-color:blueviolet;
    margin 
}

.div1
{
    width: 100px;
    height: 80px;
    background-color;
}


.div1 img
{
    width: 100px;
    height: 200px;
}

.div1 ul
{
    life-style:none;
    float:right;
}

.div1 ul li
{
    float:left;
    padding: 20px;
}

.div ul li a
{
    text-decoration: none;
    font: size 20px;
    font-size: 700;
}

.div1 ul li:hover
{
    background-color: brown;
}

.div2
{
    width: 100px;
    height: 60px;
}

.div2 img
{

    width: 100px;
    height: 100px;
}

.one
{
    width: 32px;
    height: 100px;
    background-color: rgb(126, 58, 58);
    margin-top: 40%;
    border-radius: 10%;
    float:left;
}

.two
{
    width: 32px;
    height: 100px;
    background-color: rgb(70, 19, 19);
    margin-top: 40%;
    border-radius: 10%;
    float:left;
}