.menu {
    background-color: #d9e2f3;
    padding: 15px 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu a:hover {
    color: blue;
}

.h1
{
    text-color:rgb(119, 119, 196);
    font-size: 30px;
}

body
{
    background:url(../images/education-case-cambridge-00_0.jpg) no-repeat center fixed;
    background-size:cover;
}


