ul
{
    list-style: none;
    background-color:aqua;
    margin-left: 1000px;
    background-color:beige;
    overflow:hidden;
    width:auto;
}
ul li
{
    float:left;
    padding:15px;

}

ul li:hover
{
    background-color:rgba(137, 43, 226, 0.307);
}

ul li a:hover
{
    color:brown
}




ul li a
{
    text-decoration: none;
}